<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <%= link_to "CITi", root_path,:class => "navbar-brand" %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      
      <%= form_tag books_path, :method => 'get', :class => "navbar-form navbar-left" do %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search], :class => "form-control", :placeholder => "Digite o título do livro" %>
        <%= submit_tag "Pesquisar", :class => "btn btn-default" , name: nil %>
      </div>
      <% end %>
      
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <li><a><b><%= current_user.email %></b></a></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
    </li>
  </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% if !@pesquisa.nil? %>
  
    <table class="table table-striped ">
     
      <tbody>
       <% @pesquisa.each do |book| %> 
        <tr>
          <td><%= link_to book.title, book %></td>
          <td><%= book.author %></td>
          <% if book.taken %>    
            <td class="alert alert-danger">Alugado!</td>
          <% else %>
              <td class="alert alert-success">Disponível!</td>
             </div>
          <% end %>    
        
        </tr>
      <% end %>
      </tbody>
    </table>


  



<% end %>
