<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category_id %>
</p>

<p>
  <strong>Taken:</strong>
  <%= @book.taken %>
</p>

<% if @book.rents != nil %>
	
	<% @book.rents.each do |rent| %>

		<p><%= rent.name %></p>
    <p><%= rent.due_date.strftime("%d / %m / %Y")  %></p>
    <p><%= link_to 'Devolver o livro',[@book, rent], method: :delete, data: { confirm: 'Tem certeza?' } %></p>

	<% end %>

<% end %>	

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_book_path(@book) %> |
<% end %> 
<%= link_to 'Back', books_path %> |
<%= link_to 'Alugar este livro', new_book_rent_path(@book) %>
