<!DOCTYPE html>
<html>
	<head>
		<title> <%= @title %> | Biblioteca CITi </title>
		<link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		
		<div class="container-fluid">
			<% if controller_name != ('books')  %>
				<div id="header">
					
					<h1>Biblioteca CITi</h1>
					
				</div>
			<% end %>	
				<div id="main-cont">
				<div class="row">	
					
						
				
					<div class="col-md-2"></div>
					<div class="col-md-8">
						
						<%= render "shared/navbar" %>
						<%= yield %>
					
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>